#benefits {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 100px 0;

  background-color: #f4f7f8;
  h1 {
    @include underline-title();
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 60px;
    .box {
      width: 270px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 30px 40px;

      border-radius: 10px;

      color: white;
      text-align: center;
      .icon {
        width: 125px;
        height: 125px;

        background-color: #fff;
        background-position: center;
        background-size: 60% 60%;
        background-repeat: no-repeat;

        border-radius: 50%;
      }
      .rocket-icon {
        background-image: url("../../images/icons/rocket.svg");
      }
      .handshake-icon {
        background-image: url("../../images/icons/handshake.svg");
      }
      .message-icon {
        background-image: url("../../images/icons/message.svg");
      }
      h3 {
        margin: 29px 0 10px 0;

        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
      }
      p {
        font-size: 13px;
        line-height: 23px;
        padding-bottom: 20px;
      }
    }
  }
}
