/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .bg {
  height: 570px;
  width: 100%;
  margin-bottom: -620px;
  padding-top: 50px;
  z-index: -1;
  position: relative;
  background: linear-gradient(98.6deg, #631f7b -8.55%, #794b99 5.24%, #2b1251 101.79%);
}

.container .bg .svg-bg {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-size: cover;
  background-image: url("../../images/icons/dots.svg");
  background-repeat: no-repeat;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
}

.social-icons {
  width: 27%;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.social-icons img,
.social-icons svg {
  width: 15px;
  height: 15px;
}

.green {
  background-color: #53b51a;
}

.blue {
  background-color: #0052d0;
}

.purple {
  background-color: #3f135e;
}

/* Footer Media Query */
@media (max-width: 682px) {
  footer .footer-content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 20px !important;
  }
  footer .footer-content p {
    margin: 10px 0;
  }
}

header {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  border-bottom: 4px solid #53b51a;
}

#hero-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero-section .hero-title {
  padding: 40px 0;
}

#hero-section .hero-title h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
  text-align: center;
}

#hero-section .hero-title h1:last-child {
  margin-top: 15px;
  font-weight: 400;
}

#hero-section .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

#hero-section .hero-content > div:first-child {
  width: 55%;
}

#hero-section .hero-content > div:last-child {
  width: 45%;
}

#hero-section .hero-content .video-row {
  width: 50%;
}

#hero-section .hero-content .video-row .responsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

#hero-section .hero-content .video-row .responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

#hero-section .hero-content .video-row .share-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 30px 0;
}

#hero-section .hero-content .video-row .share-video p {
  margin-right: 10px;
}

#hero-section .hero-content .video-row .share-video .share-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#hero-section .hero-content .video-row .share-video .share-boxes .share-box {
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#hero-section .hero-content .video-row .share-video .share-boxes .linkedin {
  background: #027bb6 url("../../images/icons/linkedin.svg") center 50% no-repeat;
}

#hero-section .hero-content .video-row .share-video .share-boxes .linkedin:hover {
  background-color: #01aaff;
}

#hero-section .hero-content .video-row .share-video .share-boxes .facebook {
  background: #3b5998 url("../../images/icons/facebook.svg") center 50% no-repeat;
}

#hero-section .hero-content .video-row .share-video .share-boxes .facebook:hover {
  background-color: #4572d4;
}

#hero-section .hero-content .video-row .share-video .share-boxes .twitter {
  background: #55acee url("../../images/icons/twitter.svg") center 50% no-repeat;
}

#hero-section .hero-content .video-row .share-video .share-boxes .twitter:hover {
  background-color: #7fc6fd;
}

#hero-section .hero-content .video-row .share-video .share-boxes .messenger {
  background: #fff url("../../images/icons/messenger.svg") center 50% no-repeat;
}

#hero-section .hero-content .video-row .share-video .share-boxes .messenger:hover {
  background-color: #a2d7ff;
}

#hero-section .hero-content .video-row .share-video .share-boxes .whatsapp {
  background: #fff url("../../images/icons/whatsapp.svg") center 50% no-repeat;
}

#hero-section .hero-content .video-row .share-video .share-boxes .whatsapp:hover {
  background-color: #a2ffcc;
}

#hero-section .hero-content .video-row .share-video .share-boxes .copy-link {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 7px;
  background-color: white;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

#hero-section .hero-content .video-row .share-video .share-boxes .copy-link .icon {
  height: 40px;
  width: 40px;
  background: url("../../images/icons/copy.svg") 60% 50% no-repeat;
}

#hero-section .hero-content .video-row .portfoil-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

#hero-section .hero-content .video-row .portfoil-section .picture-column {
  margin-right: 80px;
}

#hero-section .hero-content .video-row .portfoil-section .picture-column img {
  max-width: 200px;
}

#hero-section .hero-content .video-row .portfoil-section .content-column h2 {
  color: #484444;
  font-family: "Exo", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-color: #53b51a;
          text-decoration-color: #53b51a;
  text-decoration-thickness: 5px;
  text-underline-offset: 7px;
  margin-bottom: 30px;
}

#hero-section .hero-content .video-row .portfoil-section .content-column .info h3 {
  color: #484444;
  font-size: 29px;
  font-weight: 400;
}

#hero-section .hero-content .video-row .portfoil-section .content-column .info p {
  margin-top: 10px;
  color: #484444;
  font-size: 13px;
  line-height: 20px;
}

#hero-section .hero-content .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-section .hero-content .form-row .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 40px;
  padding: 10px 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
}

#hero-section .hero-content .form-row .form h2 {
  width: 100%;
  color: #484444;
  font-size: 26px;
  font-weight: 400;
  margin: 40px 0;
}

#hero-section .hero-content .form-row .form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero-section .hero-content .form-row .form form label {
  color: #484444;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

#hero-section .hero-content .form-row .form form input {
  height: 45px;
  margin-top: 3px;
  margin-bottom: 30px;
  padding: 0 20px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px;
}

#hero-section .hero-content .form-row .form form button {
  height: 50px;
  margin-bottom: 45px;
  background-color: #53b51a;
  color: white;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}

#hero-section .hero-content .form-row .form form .mail-consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-section .hero-content .form-row .form form .mail-consent input {
  width: 21px;
  height: 21px;
  margin: 0 5px;
}

#hero-section .hero-content .form-row .form form .mail-consent p {
  color: #515151;
  font-size: 14px;
}

#hero-section .hero-content .form-row .form form .privacy-policy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 23px;
}

#hero-section .hero-content .form-row .form form .privacy-policy p {
  width: 70%;
  color: #515151;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

#hero-section .hero-content .form-row .form form .privacy-policy p a {
  color: #0052d0;
  text-decoration: underline;
}

#benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 100px 0;
  background-color: #f4f7f8;
}

#benefits h1 {
  color: #484444;
  font-family: "Exo", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-color: #53b51a;
          text-decoration-color: #53b51a;
  text-decoration-thickness: 5px;
  text-underline-offset: 7px;
  margin-bottom: 30px;
}

#benefits .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

#benefits .boxes .box {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

#benefits .boxes .box .icon {
  width: 125px;
  height: 125px;
  background-color: #fff;
  background-position: center;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#benefits .boxes .box .rocket-icon {
  background-image: url("../../images/icons/rocket.svg");
}

#benefits .boxes .box .handshake-icon {
  background-image: url("../../images/icons/handshake.svg");
}

#benefits .boxes .box .message-icon {
  background-image: url("../../images/icons/message.svg");
}

#benefits .boxes .box h3 {
  margin: 29px 0 10px 0;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

#benefits .boxes .box p {
  font-size: 13px;
  line-height: 23px;
  padding-bottom: 20px;
}

#testimonials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
}

#testimonials > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#testimonials .column-slider {
  width: 65%;
}

#testimonials .column-slider h1 {
  color: #484444;
  font-family: "Exo", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-color: #53b51a;
          text-decoration-color: #53b51a;
  text-decoration-thickness: 5px;
  text-underline-offset: 7px;
  margin-bottom: 30px;
}

#testimonials .column-slider .slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .column-slider .slider .testimonials-slider .testimonial {
  display: none;
}

#testimonials .column-slider .slider .testimonials-slider .testimonial > p {
  width: 80%;
  color: #3d3d3d;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-font-feature-settings: "case" on;
          font-feature-settings: "case" on;
}

#testimonials .column-slider .slider .testimonials-slider .testimonial .people-info {
  margin-top: 30px;
}

#testimonials .column-slider .slider .testimonials-slider .testimonial .people-info h2 {
  color: #3d3d3d;
  font-size: 20px;
  font-weight: bold;
}

#testimonials .column-slider .slider .testimonials-slider .testimonial .people-info p {
  margin-top: 10px;
  color: #878787;
  font-size: 16px;
  font-weight: 400;
}

#testimonials .column-slider .slider .testimonials-slider .selected-slider {
  display: block;
}

#testimonials .column-slider .slider .slider-buttons {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
}

#testimonials .column-slider .slider .slider-buttons .slider-item {
  width: 15px;
  height: 15px;
  background-color: #f7f9ff;
  border-radius: 50%;
  border: 1px solid #878787;
  cursor: pointer;
}

#testimonials .column-slider .slider .slider-buttons .selected-item {
  border: 3px solid #878787;
  cursor: auto;
}

#testimonials .column-image {
  width: 35%;
}

#testimonials .column-image .img-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-left: 30px;
}

#testimonials .column-image .img-testimonials img {
  width: 550px;
  border-radius: 20px 0 20px 0;
  -webkit-box-shadow: -18px 20px 0px 0px #3f135e;
          box-shadow: -18px 20px 0px 0px #3f135e;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #53b51a;
  color: white;
  border-top: 10px solid #331360;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

footer .footer-content p {
  min-width: 245px;
  font-size: 14px;
}

footer .footer-content .social-icons {
  width: 10%;
  margin: 0;
}

@media (max-width: 1537px) {
  .column-slider {
    width: 55% !important;
  }
  .img-testimonials > img {
    width: 500px !important;
  }
}

@media (max-width: 1188px) {
  .bg {
    display: none;
  }
  #hero-section {
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, #7728af), to(#3f135e)) !important;
    background: linear-gradient(90deg, #7728af 1%, #3f135e 100%) !important;
  }
  #hero-section .hero-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hero-section .hero-content .video-row {
    width: 100% !important;
  }
  #hero-section .hero-content .video-row .portfoil-section {
    margin-top: 30px !important;
    margin-bottom: 30px;
  }
  #hero-section .hero-content .video-row .portfoil-section .content-column h2 {
    color: white !important;
  }
  #hero-section .hero-content .video-row .portfoil-section .content-column .info h3,
  #hero-section .hero-content .video-row .portfoil-section .content-column .info p {
    color: white !important;
  }
  #hero-section .hero-content .video-row .portfoil-section .content-column .info .social-icons {
    width: 94px;
  }
  #hero-section .hero-content .video-row .portfoil-section .content-column .info .social-icons svg > path {
    fill: white;
  }
  #hero-section .hero-content .form-row {
    width: 100% !important;
  }
  #hero-section .hero-content .form-row .form {
    margin-left: 0 !important;
  }
  #benefits {
    padding: 60px 0;
  }
  #benefits .boxes {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
  }
  #benefits .boxes .box {
    margin: 20px;
  }
  .column-slider {
    width: 100% !important;
  }
  .column-slider .slider {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
  }
  .column-slider .slider .slider-buttons {
    margin-right: 60px;
  }
  #testimonials {
    padding: 60px 0;
  }
  #testimonials > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #testimonials .column-slider .slider .testimonials-slider .testimonial > p {
    width: 100%;
  }
  #testimonials .column-image {
    width: 100% !important;
  }
  #testimonials .column-image .img-testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
  #testimonials .column-image .img-testimonials img {
    width: 70% !important;
  }
}

@media (max-width: 616px) {
  #hero-section .picture-column {
    margin-right: 30px !important;
  }
}

@media (max-width: 492px) {
  #hero-section .share-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px !important;
  }
  #hero-section .portfoil-section {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #hero-section .portfoil-section img {
    width: 100%;
  }
  #hero-section .content-column {
    margin-top: 30px;
  }
  #benefits h1 {
    font-size: 25px;
    text-align: center;
  }
  #testimonials h1 {
    font-size: 25px;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */