.container {
    display: flex;
    align-items: center;
    height: calc(100vh - 35px);
}
.user-list {
    border-radius: 10px;
    position: relative;
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        padding: 0 60px;
    }
    
    th {
        text-align: left;
        
    }
    
    .even {
        background-color: #dddddd50;
    }
    
    tr th,
    tr td {
        color: rgb(235, 235, 235);
        padding: 4px 10px;
    }
    app-pagination {
        width: 100%;
    }
}
  