header {
    height: 35px;
    display: flex;
    align-items: flex-end;
    background-color: white;
    border-radius: 0 0 10px 10px;
    img {
        height: 100%;
        padding: 10px 0 10px 12px;
    }
}
