footer {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #53b51a;
  color: white;

  border-top: 10px solid #331360;
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 100px 0;
    p {
      min-width: 245px;
      font-size: 14px;
    }
    .social-icons {
      width: 10%;
      margin: 0;
    }
  }
}
