.pagination {
    display: flex;
    justify-content: center;
    button {
        background-color: transparent;
        border: transparent;
        cursor: pointer;
    }
    li {
        display: flex;
    }
    span {
        display: flex;
        align-items: center;
        margin-left: 12px;
    }
    svg, span {
        color: white;
    }
}