:host {
  width: 100%;
  height: calc(100vh - 35px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: white;
  border-radius: 10px;
  padding: 40px 32px;
}
